# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset Store tools
[Aa]ssets/AssetStoreTools*

# IDE files
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity generated meta for IDE project files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash reports
sysinfo.txt
crashlytics-build.properties

# Builds and packages
*.apk
*.aab
*.unitypackage

# OS files
.DS_Store
Thumbs.db
Desktop.ini
